.element-list {
    list-style: none;
    padding-left: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    border: 1px solid lightgray;
    font-size: 0.75em;
}

.element-list li {
    border-bottom: 1px solid gray;
}

.element-list li:nth-child(even) {
    background-color: rgb(231, 231, 231);
}

.element-list li:hover {
    background-color: darkgray;
    color: black;
}

.element-list li.active {
    background-color: rgb(75, 75, 75);
}

.list-header.active {
    background-color: rgb(182, 182, 182);
}

.list-header:hover {
    background-color: darkgray;
    color: black;
}
