.viewportWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden;
}

.mainContentWrapper {
    height: calc(100% - 50px);
    padding: 0 5%;
}
