.night {
  background: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
}

.navbar-brand.night {
  color: rgb(255, 255, 255);
}

.clickable {
  text-decoration: underline;
  user-select: none;
  color: blue;
}
.night .clickable {
  color: yellow;
}

.clickable:hover {
  color: green;
}

.night .clickable:hover {
  color: green;
}
